<h1 class="text-center"><%= @user.full_name %></h1>
<div class="text-center">
  <%= render 'users/shared/stats' %>
</div>
<div class="users_main col-md-10 row">
  <% if @users.present? %>
    <%= render @users, cache: true %>
  <% else %>
    <div class="empty_collab">
      <h2><%= t('.empty_collab') %></h2>
    </div>
  <% end %>
</div>
