<h1 class="text-center"><%= @user.full_name %></h1>
<%#= link_to "view my profile", @user %>
<h4 class="text-center"><%= @title %></h4>

<div class="users_main col-md-10 row">
  <% if @users.present? %>
    <%= render @users %>
  <% else %>
    Sorry
  <% end %>
</div>
