<% provide(:title, "#{@user.name}") %>

<div class="text-center">
  <h1><%= @user.name %></h1>
</div>
<div class="">
      <% if @user.relatives.present? %>
      <ol class="microposts">
        <%= render @relatives %>
      </ol>
    <% end %>
  </div>
