<% provide(:title, "#{@user.name} #{@user.second_name}") %>

<div class="text-center">
  <h1><b><%= @user.name %> <%= @user.second_name %></b></h1>
</div>

<div>
    <% if @user.relatives.present? %>
    <ol>
      <%= render @relatives %>
    </ol>
  <% end %>
</div>
