body {
  max-width: 100%;
}

.navbar_link_1 {
  font-size: 20px;
  font-style: normal;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  right: 150px;
}

.navbar_link_2 {
  font-size: 20px;
  font-style: normal;
  color: black;
  position: absolute;
  right: 40px;
}

.navbar_link {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .4em;
}

.navbar_link:hover {
  text-decoration: none;
}

.tree_img {
  max-height: 50px;
}

.form-group {
  text-align: center;
}

.img-field {
  text-align: center;
}

.btn-form {
  text-align: center;
}

.search-form {
  width: 300px;
  margin-left: 20px;
}

.ui-autocomplete-input {
  margin-left: 10em;
}

.row {
  max-width: 100%;
}

ul.pagination {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightblue;
}

.pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}

.search {
  background-color: #F8F8F8;
  border: none;
  cursor: pointer;
  &:hover {
    outline: none;
  }
}

.category_group {
  margin-bottom: 0px;
}

.nav_name {
  margin-right: 20px;
}

.img_locales {
  margin-left: 1em;
}

.img_locales_2 {
  margin-left: .3em;
}

.categ_text {
  margin-top: 1.6em;
  margin-left: .2em;
}

.relat_text {
  margin-top: .7em;
}

.categ_btn {
  margin-left: .2em;
}

.search_form {
  margin-right: 4.5em;
}

.dropdown-menu {
  min-width: 11rem !important;
}

.locale {
  opacity: 0.5;
}

ul.pagination {
  margin-top: 2em;
}

.form_create {
  margin-left: auto;
  margin-right: auto;
}
