body {
  max-width: 100%;
}

.navbar_link {
  padding-left: 10px;
  font-size: 20px;
  font-style: normal;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar_link:hover {
  text-decoration: none;
}

.tree_img {
  max-height: 50px;
}

.form-control {
  max-width: 40em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  text-align: center;
}

.img-field {
  text-align: center;
}

.btn-form {
  text-align: center;
}

.search-form {
  width: 300px;
  margin-left: 20px;
}

.ui-autocomplete-input {
  margin-left: 10em;
}

.row {
  max-width: 100%;
}

.trix_editor {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.trix-button-row {
  max-width: 300px;
  margin-left: auto;
  // margin-right: auto;
  margin-right: 640px;
}

ul.pagination {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightblue;
}

.pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

// .pagination a:hover {
//     background: #202020 none repeat scroll 0 0;
//     text-shadow: 1px 1px 1px #171717;
// }
//
// .pagination a:active {
//     text-shadow: none;
// }

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}

.search {
  background-color: #F8F8F8;
  border: none;
  cursor: pointer;
  &:hover {
    outline: none;
  }
}
// ul.pagination {
//   margin-right: auto;
//   margin-left: auto;
//   border: 1px solid lightblue;
// }

//
// a.pagination {
//   border: 1 px solid red;
// }
