body {
  max-width: 100%;
  // margin-bottom: 1em;
}

.navbar_link_1 {
  font-size: 20px;
  font-style: normal;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  right: 150px;
}

.navbar_link_2 {
  font-size: 20px;
  font-style: normal;
  color: black;
  position: absolute;
  right: 40px;
}

.navbar_link {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .4em;
}

.navbar_link:hover {
  text-decoration: none;
}

.tree_img {
  max-height: 50px;
}

.form-group {
  text-align: center;
}

.img-field {
  text-align: center;
}

.btn-form {
  text-align: center;
}

.search-form {
  // width: 300px;
  // margin-left: 20px;
}

.ui-autocomplete-input {
  margin-left: 16em;
  // background-color: red !important;
}

.ui-autocomplete-input-2 {
  margin-left: 10em;
}

.ui-autocomplete-input-3 {
  margin-left: 6em;
}

.ui-autocomplete-input-4 {
  margin-left: 2em;
  max-width: 9em;
}

.row {
  max-width: 100%;
}

.pagination{
  margin-left: auto !important;
  margin-right: auto;
  max-width: fit-content;
}

.search {
  background-color: #F8F8F8;
  border: none;
  cursor: pointer;
  &:hover {
    outline: none;
  }
}

.category_group {
  margin-bottom: 0px;
}

.nav_name {
  // margin-right: 20px;
  margin-right: 2em !important;
}

.nav_name_2 {
  // margin-right: 20px;
  margin-right: 1.4em !important;
}

.img_locales {
  margin-left: 1em;
}

.img_locales_2 {
  margin-left: .3em;
}

.categ_text {
  margin-top: 1.6em;
  margin-left: 2em;
}

@media screen and (min-width: 1025px) {
  .relat_text {
    margin-top: auto;
    // margin-left: 8em;
  }
}

@media (max-width: 1024px) {
  .relat_text {
    margin-left: 3em;
    max-width: 18em;
    margin-top: 17px;
  }
}

.categ_btn {
  margin-left: 4.4em;
}

.search_form {
  margin-right: 4.5em;
}

.dropdown-menu {
  min-width: 11rem !important;
}

.locale {
  opacity: 0.5;
}

ul.pagination {
  margin-top: 2em;
}

.form_create {
  margin-left: auto;
  margin-right: auto;
}

.form_control_user_new {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
//
// input::placeholder {
//   text-align: center;
// }

input {
  text-align: center;
}

// .footer {
//   position: absolute;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    padding: 1rem;
//    text-align: center;
//   background:#999;
// }

.btn_rel_new {
  // margin-bottom: 20px;
}

.nav-link {
  display: block;
  padding: 0.5rem .3rem !important;
}

.footer {
  // height: 6em;
  // background-color: lightblue;
  // margin-top: 2em
}

// .dropdown-toggle::after {
//   display: none;
// }
//
// .dropdown-toggle::before {
//   display: inline-block;
//   width: 0;
//   height: 0;
//   margin-left: 0.255em;
//   vertical-align: 0.255em;
//   content: "";
//   border-top: 0.3em solid;
//   border-right: 0.3em solid transparent;
//   border-bottom: 0;
//   border-left: 0.3em solid transparent;
// }
