// header

@media (min-width: 300px) and (max-width: 767px) {
  #search {
    width: 80% !important;
  }
}

@media (min-width: 1025px) {
  .user-image-navbar {
    margin-right: 28px;
    margin-top: 8px
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #search {
    width: 80% !important;
  }

  .navbar_link {
    max-width: 80px;
  }

  .search-margin-4 {
    margin-right: 3em;
  }
}

@media (min-width: 1921px) {
  .search-margin-4 {
    margin-right: 6em;
  }
}
