// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  margin-left: 20px;
}

.product {
  margin-left: -30px;
}

.products {
  text-align: center;
  // margin-top: 20px;
  &:nth-child(1){
    // margin-top: -20px;
  }
  &:nth-child(2){
    // margin-top: -20px;
  }
  &:nth-child(3) {
    // margin-top: -20px;
  }
}

.users_main {
  max-width: 100%;
}

.show_relative {
  margin-top: 1em;
  text-align: center;
}

.Link_show_relative {
  font-size: 30px;
}

.show_description {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  padding: 0rem;
  padding-top: 1.25rem;
}

.form-control-custom {
  display: block;
  width: 100%;
  // height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: visible;
}
