.btn_dropdown {
  height: 3em;
  // margin-right: 2em;
  position: relative;
  right: -190%;
}

// .mini_image {
  // margin-left: 4em;
  // position: absolute;
  // right: 51%;
  // margin-right: 20px;
// }

.img_show_user {
  // max-width: 90%;
  max-width: 50em;
}

.h1_us_index {
  text-align: center;
}

.form-collaborators {
  display: none;
}

.user_relations {
  margin-top: 1em;
  margin-left: 4em;
}

.following-count {
  color: black;
  font-size: 20px;
}

.empty_collab {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.show-follow-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
